body{
		background: orange;
		font-family: Calibri;
}

#container{
	width: 1000px;
	margin: 0px auto;
	border: 40px solid white;
	background: white;
}

header{
	height: 270px;
	width: 100%;
	text-align: center;
	image-rendering: 
	line-height: -100px;
	color: black; 
}

aside{
	float: left;
	width: 100%;
}

footer{
	background: black;
	color: white;
	width: 1078px;
	margin: auto;
	border: 1px solid black;

}