body{
	background-image: url(img/mikasa3.jpg);
	background-size: 100vw 100vh;
 	background-attachment: fixed;
  	margin: 0;
  	font-family: monospace;
}

#container{
	width: 1000px;
	margin: auto;
	background: rgba(0,0,0,0.6);
	padding: 10px 20px;
  	box-sizing: border-box;
  	margin-top: 20px;
  	border-radius: 7px;
}

header{
	width: 100%;
	text-align: center;
	image-rendering: 
	line-height: 100px;
	color: white; 
	font-size: 20px;
}

.article{
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	font-size: 20px;
}

aside{
	color: white;
	float: left;
	width: 100%;
	font-size: 20px;
	border-bottom: 1px solid #222;
}

table{
	width: 100%;
	border: 1px solid #000;
	border-collapse: separate;
	border-spacing: 1px;
}	
th, td{
	background: rgba(0,0,0,0.5);
	color: white;
	width: 1%;
	text-align: left;
	vertical-align: top;
	border: 1px solid #fff;
	text-align: center;
}

#boton{
	margin: 20px;
	background: #000;
  	color: #fff;
  	padding: 10px;
}

#boton:hover{
  	cursor: pointer;
}

footer{
	background: black;
	color: white;
	border: 1px solid black;
}
